.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: $border;
    border-radius: 5px;
    margin: $second-margin-box;
    background-color: $secondary-background;
 }
 .g-col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: $border;
    border-radius: 5px; 
    margin: $margin-box;
    font-family: $main-font;
    color: black;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    font-size: medium;
    background-color: $main-background;
 }
 .g-col-4 p {
  margin-bottom: 0;
 }
 .g-col-4 ul{
    padding: 0;
    margin-bottom: 0;
   }
 .g-col-4 ul li {
    list-style: none;
    padding: $padding-box;
 }
 .g-col-4 ul li a {
    text-decoration: none;
    font-family: $main-font;
    color: black;
    font-variant-caps: all-small-caps;
    font-weight: 500; 
 }
 .g-col-4 ul li button{
    border-radius: $radius;
 }
 .g-col-4 a img {
    width: 20%;
    margin-left: 8px;
 }
 .g-col-4 h4 {
    margin-left: 0;  
    margin-bottom: 0;
 }