h2 {
    text-align: center;
    font-family: $main-font;
        color: black;
        font-variant-caps: all-small-caps;
        font-weight: 500;
        list-style: none;
        padding: $padding-box;
        background-color: $main-background;
    margin: $margin-box;
    border: $border;
}
h3 {
    text-align: center;
    font-family: $main-font;
        color: black;
        font-variant-caps: all-small-caps;
        font-weight: 500;
        list-style: none;
        padding: $padding-box;
        background-color: $main-background;
    margin: $margin-box;
    border: $border;
}