@media (max-width:780px){
.tienda {
    flex-direction: column;
}
.g-col-4 {
    font-size: small  
}
}
@media (max-width:1190px) {
    .style-clips {
        flex-direction: column;  
       }
    .clips div iframe {
        height: 515px;
        width: 760px;   
    }
    .looks {
     flex-direction: column;
    }
    .looks-fotos a img {
        width: 350px;
    }
    .col iframe {
        width: 350px;
        height: 350px;}
     .camisas {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (400px, 1fr)); 
     }
}
    @media (max-width:840px){
        .clips div iframe{
            height: 315px;
            width: 560px;   
        } 
        #styling {
            display: flex;
            flex-direction: column;
        } 
        .looks-fotos a img {
            width: 250px;  
        }
    }
    @media (max-width:680px){
        .clips div iframe{
            height: 250px;
            width: 400px;  
    }
    .looks-fotos a img {
        width: 180px;  
    }
    .articulo-cajas-footer {
        flex-direction: column;
    }
    .grid {
        display: flex;
        flex-direction: column;
    }
    .g-col-4 a img{
        margin-top: 5px;
        width: 20%;
    }
}
@media (max-width:500px){
    .clips div iframe{
        height: 180px;
        width: 350px;  
}
.looks-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.looks-fotos a img {
    width: 300px;  
}

.jevi-tienda img {
    width: 350px;
}
.jevi-retratos img {
    width: 50%;
}
.articulo {
    flex-direction: column-reverse;
    align-items: center;
}
}
@media (max-width:390px){
    .clips div iframe{
        height: 180px;
        width: 250px;  
}
.looks-fotos a img {
    width: 220px;  
}
}
@media (max-width:510px){
    .col h3 {
        padding: 5px;
        font-size: x-small;
    } 
    .row {
      row-gap: 2px;  
    }
}
@media (max-width:345px){
    .row {
       flex-direction: column;
    }
    .col h3 {
        font-size: medium;
    }
}
@media (max-width:880px){
    .nosotros-texto p{
        font-size: medium;
        font-weight: 800;
    } 
    .g-col-4 a img {
        width: 30%;
    } 
}
@media (max-width:700px){
    .nosotros-texto p{
        font-size: small;
        font-weight: 800;
    }  
}
@media (max-width:530px){
    .nosotros-texto p{
        font-size: x-small;
        font-weight: 800;
    }  
}
@media (max-width:430px){
    .nosotros {
        flex-direction: column;
     }
     .nosotros img {
        height: 100%;
        @include imagen (100%, cover);
        border-bottom: solid black 1px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
     }
     .nosotros-texto {
        position: relative;
        background-color: white;
        width: 100%;
        height: 100%;
     }
     .nosotros-texto p{
        color: black;
        font-family: $main-font;
        font-variant-caps: all-small-caps;
        font-size:medium;
        font-weight: 800;
        text-shadow: none;
        margin: 15px;
     } 
     .productos-items {
        display: flex;
        flex-direction: column;
     }
     .jevi-tienda img {
        width: 250px;
     }
     .jevi-retratos img {
        width: 55%;
        align-items: center;
     }
     .jevi-retratos {
        flex-direction: column;
        gap: 10px
     }
     .jevi-retratos img {
        width: 80%;
        align-items: center;
     }
     .articulo-cajas p {
        font-size: medium;
     }
     .articulo-cajas-footer p {
        font-size: medium;
     }
}
@media (max-width:350px){
    .nosotros-texto p{
        font-size:small; 
    }
}
@media (max-width:780px){
    .col iframe {
    width: 200px;
    height: 200px;
}
}
@media (max-width:545px){
    .col iframe {
    width: 400px;
    height: 400px;
}
}
@media (max-width:480px){
    .col iframe {
    width: 200px;
    height: 200px;
}
}
@media (max-width:420px){
    .col iframe {
    width: 150px;
    height: 150px;
}
}