.eventos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (600px, 1fr));
    padding: $padding-box;
    margin: $second-margin-box;
    background-color: $secondary-background;
}
.articulo {
    display: flex;
    justify-content: space-around;
}
.articulo-cajas {
    display: flex;
    flex-direction: column;
}
.articulo-cajas-footer {
    display: flex;
    justify-content: space-around;
}
.jevi-portada{
    padding: $padding-box;
}
.jevi-portada img {
    width: 85%;
    object-fit: cover;
    border: $border;
    border-radius: $radius; 
}
.jevi-retratos {
    display: flex;
    justify-content: space-around;
    padding: $padding-box;
}
.jevi-retratos img{
    width: 40%;
    object-fit: cover;
    border: $border;
    border-radius: $radius; 
}
.jevi-tienda{
    padding: $padding-box;
}
.jevi-tienda img {
    width: 420px;
    object-fit: cover;
    border: $border;
    border-radius: $radius; 
}